<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}">

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous" th:href="@{/webjars/jquery/3.5.1/jquery.min.js}">

        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
                crossorigin="anonymous"
                th:href="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
        <title>Contact Form</title>
    </head>
    <body>
        <div th:replace="fragments/navigationBar.html :: navigation">

        </div>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card border-0">
                        <div class="card-header bg-secondary">
                            <!--Change text according to content-->
                            <h1 class="card-title text-center text-light"
                                th:with="text=${contact['new'] ? 'New Contact' : 'Update Contact'}"
                                th:text="${text}">Some Text</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form th:object="${contact}" method="post" enctype="multipart/form-data">
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                                <p>Form is not valid please correct errors</p>
                            </div>

                            <input type="hidden" th:field="*{id}">
                            <div class="card border-0">
                                <div class="card-header">
                                    <h4 class="card-title">Elementary Information</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 d-flex align-items-center">
                                            <div class="input-group mb-2">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="contactImage" name="contactImage">
                                                    <label class="custom-file-label" for="contactImage">Choose file</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="container">
                                                <div class="form-group">
                                                    <label for="firstName" class="col-form-label">First Name:</label>
                                                    <input id="firstName" type="text" class="form-control"
                                                           th:field="*{firstName}"
                                                           th:errorclass="is-invalid">
                                                    <span class="form-text" th:if="${#fields.hasErrors('firstName')}">
                                                        <ul>
                                                            <li class="text-danger" th:each="err: ${#fields.errors('firstName')}"
                                                                th:text="${err}">error</li>
                                                        </ul>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastName" class="col-form-label">Last Name:</label>
                                                    <input id="lastName" type="text" class="form-control"
                                                           th:field="*{lastName}"
                                                           th:errorclass="is-invalid">
                                                    <span class="form-text" th:if="${#fields.hasErrors('lastName')}">
                                                        <ul>
                                                            <li class="text-danger" th:each="err: ${#fields.errors('lastName')}"
                                                                th:text="${err}">text</li>
                                                        </ul>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="middleName" class="col-form-label">Middle Name:</label>
                                                    <input id="middleName" type="text" class="form-control" th:field="*{middleName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="container">
                                                <div class="form-group">
                                                    <label for="contactType" class="col-form-label">Contact Type:</label>
                                                    <select class="form-control" id="contactType" th:field="${contact.contactType}">
                                                        <option th:each="type: ${contactType}"
                                                                th:text="${type}"
                                                                th:value="${type.name()}">type</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-0">
                                    <input type="hidden" th:field="${contact.details.id}">
                                    <div class="card-header">
                                        <h4 class="card-title">Details</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 offset-md-2">
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label for="phone" class="col-form-label">Phone:</label>
                                                        <input type="text" class="form-control" id="phone"
                                                               th:field="${contact.details.phone}" th:errorclass="is-invalid">
                                                        <span class="form-text" th:if="${#fields.hasErrors('details.phone')}">
                                                            <ul>
                                                                <li class="text-danger" th:each="err: ${#fields.errors('details.phone')}"
                                                                    th:text="${err}">error</li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="workPhone" class="col-form-label">Work Phone:</label>
                                                        <input type="text" class="form-control" id="workPhone"
                                                               th:field="${contact.details.workPhone}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email" class="col-form-label">Email:</label>
                                                        <input type="text" class="form-control" id="email"
                                                               th:field="${contact.details.email}" th:errorclass="is-invalid">
                                                        <span class="form-text" th:if="${#fields.hasErrors('details.email')}">
                                                            <ul>
                                                                <li class="text-danger" th:each="err: ${#fields.errors('details.email')}"
                                                                    th:text="${err}">error</li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label for="birthday" class="col-form-label">Date of Birth:</label>
                                                        <input type="date" class="form-control" id="birthday" placeholder="yyyy/MM/dd"
                                                               th:field="${contact.details.birthday}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="nickname" class="col-form-label">Nickname:</label>
                                                        <input type="text" class="form-control" id="nickname"
                                                               th:field="${contact.details.nickName}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-0">
                                    <input type="hidden" th:field="${contact.details.address.id}">
                                    <div class="card-header">
                                        <h4 class="card-title">Address</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4 offset-md-2">
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label for="country" class="col-form-label">Country:</label>
                                                        <input type="text" id="country" class="form-control"
                                                               th:field="${contact.details.address.country}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="city" class="col-form-label">City:</label>
                                                        <input type="text" id="city" class="form-control"
                                                               th:field="${contact.details.address.city}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="container">
                                                    <div class="form-group">
                                                        <label for="street" class="col-form-label">Street:</label>
                                                        <input type="text" id="street" class="form-control"
                                                               th:field="${contact.details.address.street}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="houseNo" class="col-form-label">House Number:</label>
                                                        <input type="text" id="houseNo" class="form-control"
                                                               th:field="${contact.details.address.houseNo}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card border-0">
                                    <div class="card-header">
                                        <h4 class="card-title">Note</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label for="note" class="col-form-label">Description:</label>
                                                <textarea id="note" class="form-control" rows="3"
                                                          th:field="${contact.note.description}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 offset-md-10">
                                    <input type="submit" class="btn btn-primary" value="Submit"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>